@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-6 mb-5">Welcome to Food Products Basket!</h1>
    <p class="fw-light">Go to <a class="bg-red" asp-area="" asp-controller="Products" asp-action="Index">products</a>.</p>
</div>
