@model BasketMvc.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-6 text-center my-4">Product Details</h1>

            <hr />

            <div class="mb-4">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Naziv)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Naziv)</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Cijena)</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Cijena)</dd>
                </dl>
            </div>

            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-secondary">Edit</a>
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>
