@model BasketMvc.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-5 text-center my-4">Edit Product</h1>

            <hr />

            <form asp-action="Edit" method="post" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group mb-2">
                    <label asp-for="Naziv" class="control-label"></label>
                    <input asp-for="Naziv" class="form-control" />
                    <span asp-validation-for="Naziv" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Cijena" class="control-label"></label>
                    <input asp-for="Cijena" class="form-control" />
                    <span asp-validation-for="Cijena" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
